<head>
    <title>{{ .Title }}</title>
    <base
        href="{{ .Site.BaseURL }}/{{ .Lang }}/">
    {{ block "DefaultLinks" . }}
        <link
            href="css/default.css"
            rel="stylesheet">
        <link
            href="favicon.ico.png"
            rel="icon"
            type="image/png">
        {{ with .OutputFormats.Get "rss" -}}
            {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
        {{ end -}}
    {{ end }}
    {{ block "Links" . }}
    {{ end}}
</head>

